body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #FAF8F6;
    line-height: 1.5;
}

img {
    width: 250px;
    height: 250px;
    padding: 30px 70px;
}

.name-h1 {
    position: absolute;
    top: 80px;
    left: 400px;
}

.speciality {
    position: absolute;
    top: 150px;
    left: 400px;
}


.contacts {
    background-color: #fff;
    text-align: right;
    line-height: 21px;
    width: 350px;
    border: 0px solid #000;
    border-radius: 7px;
    padding: 20px 30px 20px 20px;
    box-shadow: 2px 2px 15px rgb(175, 175, 175);
    position: absolute;
    top: 70px;
    left: 800px;
}

.my-info-h2 {
    position: absolute;
    top: 300px;
    left: 500px;
}

.my-info {
    background-color: #fff;
    width: 665px;
    border: 0px solid #000;
    border-radius: 7px;
    padding: 20px 20px 20px 30px;
    box-shadow: 2px 2px 15px rgb(175, 175, 175);
    position: absolute;
    top: 370px;
    left: 485px;
}

.skills-h2 {
    position: absolute;
    top: 300px;
    left: 70px;
}

.skills {
    background-color: #fff;
    width: 350px;
    border: 0px solid #000;
    border-radius: 7px;
    padding: 20px 20px 20px 30px;
    box-shadow: 2px 2px 15px rgb(175, 175, 175);
    position: absolute;
    top: 370px;
    left: 50px;
}

.code-example-h2 {
    position: absolute;
    top: 550px;
    left: 500px;
}

.code-example {
    background-color: #fff;
    width: 665px;
    border: 0px solid #000;
    border-radius: 7px;
    padding: 20px 20px 20px 30px;
    box-shadow: 2px 2px 15px rgb(175, 175, 175);
    position: absolute;
    top: 620px;
    left: 485px;
}

.education-h2 {
    position: absolute;
    top: 800px;
    left: 500px;
}

.education {
    background-color: #fff;
    width: 665px;
    border: 0px solid #000;
    border-radius: 7px;
    padding: 20px 20px 20px 30px;
    box-shadow: 2px 2px 15px rgb(175, 175, 175);
    position: absolute;
    top: 870px;
    left: 485px;
}

.language-h2 {
    position: absolute;
    top: 550px;
    left: 70px;
}

.language {
    background-color: #fff;
    width: 350px;
    border: 0px solid #000;
    border-radius: 7px;
    padding: 20px 20px 20px 30px;
    box-shadow: 2px 2px 15px rgb(175, 175, 175);
    position: absolute;
    top: 620px;
    left: 50px;
}
