body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #FAF8F6;
    line-height: 1.5;
    font-size: 18px;
}

.code {
    padding-left: 30px;
}

.main-page {
    width: 1350px;
    height: 2300px;
    background-color: #FAF8F6;
    position: relative;
    left: 0; 
    right: 0;
    margin-left: auto; 
    margin-right: auto;
}

img {
    width: 250px;
    height: 250px;
    padding: 30px 70px;
}

.name-h1 {
    position: absolute;
    top: 80px;
    left: 360px;
}

.speciality {
    position: absolute;
    top: 150px;
    left: 360px;
}

.contacts {
    background-color: #fff;
    text-align: right;
    line-height: 1.5;
    width: 400px;
    border: 0px solid #000;
    border-radius: 15px;
    padding: 15px 40px;
    box-shadow: 2px 2px 15px rgb(175, 175, 175);
    position: absolute;
    top: 50px;
    right: 50px;
}


.my-info, .education-uni, .education-trainings, .code-example-python, .code-example-css, .code-example-project {
    box-sizing: border-box;
    background-color: #fff;
    width: 790px;
    border: 0px solid #000;
    border-radius: 15px;
    padding: 10px 25px 10px 35px;
    box-shadow: 2px 2px 15px rgb(175, 175, 175);
    position: absolute;
    left: 510px;
}

    .my-info-h2 {
        position: absolute;
        top: 300px;
        left: 550px;
    }

    .my-info {
        top: 370px;
    }

    .education-h2 {
        position: absolute;
        top: 740px;
        left: 550px;
    }

    .education-uni {
        top: 810px;
    }

    .education-trainings {
        top: 990px;
    }

    .code-example-h2 {
        position: absolute;
        top: 1160px;
        left: 550px;
    }

    .code-example-python {
        top: 1230px;
    }

    .code-example-css {
        top: 1470px;
    }

    .code-example-project {
        top: 1910px
    }

    .pull-right {
        text-align: right;
        border-right: 3px solid rgb(204, 204, 204);
        padding-right: 10px;
    }


    .thanks {
        color: rgb(182, 180, 180);
        text-align: right;
        position: absolute;
        top: 2200px;
        right: 50px;
    }


.language-h2 {
    position: absolute;
    top: 570px;
    left: 70px;
}

.skills-h2 {
    position: absolute;
    top: 300px;
    left: 70px;
}


.skills, .tools, .language {
    background-color: #fff;
    width: 380px;
    border: 0px solid #000;
    border-radius: 15px;
    padding: 20px 20px 20px 30px;
    box-shadow: 2px 2px 15px rgb(175, 175, 175);
    position: absolute;
    left: 50px;
}

    .skills {
        top: 370px;
    }

    .tools {
        top: 650px;
    }

    .language {
        top: 960px;
    }

